<html>
  <head>

    <title>${self.title()}</title>

    <link rel="stylesheet" type="text/css"
	  href="http://yui.yahooapis.com/2.5.0/build/reset-fonts-grids/reset-fonts-grids.css"
	  /> 
    <link rel="stylesheet" type="text/css"
	  href="http://yui.yahooapis.com/2.5.0/build/base/base-min.css"
	  /> 
    <link rel="stylesheet" type="text/css"
	  href="http://yui.yahooapis.com/2.5.0/build/menu/assets/skins/sam/menu.css"> 

    <script type="text/javascript"
	    src="http://yui.yahooapis.com/2.5.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script type="text/javascript"
	    src="http://yui.yahooapis.com/2.5.0/build/element/element-beta-min.js"></script>
    <script type="text/javascript"
	    src="http://yui.yahooapis.com/2.5.0/build/container/container_core-min.js"></script> 
    <script type="text/javascript"
	    src="http://yui.yahooapis.com/2.5.0/build/menu/menu-min.js"></script> 

    <link rel="stylesheet" type="text/css"
	  href="/tower.css"
	  /> 
    ${next.head()}

  </head>

  <body class="yui-skin-sam">
    
    <div id="doc2" class="yui-t7">
      <div id="hd">
	<h2 style="margin-bottom:0;">translate.creativecommons.org:</h2>
	<h1 style="margin-top:0; margin-bottom:1px;">${self.title()}</h1>

	<div id="main_nav">
          <ul>
	    % for action_url, action_name in c.actions:
	    <li class="nav_item">
	      <a href="${action_url}">${action_name}</a>
	    </li>
	    % endfor
          </ul>
	</div>

      </div>

      <div id="bd">
	<div class="yui-g">
	  ${next.body()}
	</div>

      </div>
      <div id="ft"></div>
    </div>
  </body>

</html>

<%def name="title()">
translate.creativecommons.org
</%def>
